* {
    overflow: hidden;
  }
  
  .g-snows {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
  }
  
  .g-snows > li {
    opacity: 0;
    position: absolute;
    top: 0;
    border-radius: 100%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-animation-name: snow-drop;
            animation-name: snow-drop;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .g-snows > li:nth-child(1) {
    left: 15%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 8168ms;
            animation-duration: 8168ms;
    -webkit-animation-delay: 857ms;
            animation-delay: 857ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(2) {
    left: 23%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 8547ms;
            animation-duration: 8547ms;
    -webkit-animation-delay: 819ms;
            animation-delay: 819ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(3) {
    left: 21%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 8897ms;
            animation-duration: 8897ms;
    -webkit-animation-delay: 4372ms;
            animation-delay: 4372ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(4) {
    left: 6%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 5218ms;
            animation-duration: 5218ms;
    -webkit-animation-delay: 199ms;
            animation-delay: 199ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(5) {
    left: 7%;
    width: 20px;
    height: 20px;
    -webkit-animation-duration: 5209ms;
            animation-duration: 5209ms;
    -webkit-animation-delay: 3921ms;
            animation-delay: 3921ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(6) {
    left: 83%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 6479ms;
            animation-duration: 6479ms;
    -webkit-animation-delay: 3044ms;
            animation-delay: 3044ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(7) {
    left: 114%;
    width: 9px;
    height: 9px;
    -webkit-animation-duration: 7200ms;
            animation-duration: 7200ms;
    -webkit-animation-delay: 1588ms;
            animation-delay: 1588ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(8) {
    left: 38%;
    width: 20px;
    height: 20px;
    -webkit-animation-duration: 10079ms;
            animation-duration: 10079ms;
    -webkit-animation-delay: 4166ms;
            animation-delay: 4166ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(9) {
    left: 18%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 8268ms;
            animation-duration: 8268ms;
    -webkit-animation-delay: 4059ms;
            animation-delay: 4059ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(10) {
    left: 18%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 5382ms;
            animation-duration: 5382ms;
    -webkit-animation-delay: 1093ms;
            animation-delay: 1093ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(11) {
    left: 121%;
    width: 10px;
    height: 10px;
    -webkit-animation-duration: 5753ms;
            animation-duration: 5753ms;
    -webkit-animation-delay: 1813ms;
            animation-delay: 1813ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(12) {
    left: 105%;
    width: 9px;
    height: 9px;
    -webkit-animation-duration: 5755ms;
            animation-duration: 5755ms;
    -webkit-animation-delay: 320ms;
            animation-delay: 320ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(13) {
    left: 95%;
    width: 22px;
    height: 22px;
    -webkit-animation-duration: 8455ms;
            animation-duration: 8455ms;
    -webkit-animation-delay: 1521ms;
            animation-delay: 1521ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(14) {
    left: 87%;
    width: 12px;
    height: 12px;
    -webkit-animation-duration: 7654ms;
            animation-duration: 7654ms;
    -webkit-animation-delay: 3764ms;
            animation-delay: 3764ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(15) {
    left: 69%;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 14007ms;
            animation-duration: 14007ms;
    -webkit-animation-delay: 4576ms;
            animation-delay: 4576ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(16) {
    left: 82%;
    width: 7px;
    height: 7px;
    -webkit-animation-duration: 7257ms;
            animation-duration: 7257ms;
    -webkit-animation-delay: 4173ms;
            animation-delay: 4173ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(17) {
    left: 91%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 12346ms;
            animation-duration: 12346ms;
    -webkit-animation-delay: 4271ms;
            animation-delay: 4271ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(18) {
    left: 111%;
    width: 7px;
    height: 7px;
    -webkit-animation-duration: 11486ms;
            animation-duration: 11486ms;
    -webkit-animation-delay: 4742ms;
            animation-delay: 4742ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(19) {
    left: 56%;
    width: 6px;
    height: 6px;
    -webkit-animation-duration: 7180ms;
            animation-duration: 7180ms;
    -webkit-animation-delay: 638ms;
            animation-delay: 638ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(20) {
    left: 43%;
    width: 12px;
    height: 12px;
    -webkit-animation-duration: 5344ms;
            animation-duration: 5344ms;
    -webkit-animation-delay: 3848ms;
            animation-delay: 3848ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(21) {
    left: 31%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 7944ms;
            animation-duration: 7944ms;
    -webkit-animation-delay: 279ms;
            animation-delay: 279ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(22) {
    left: 49%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 13680ms;
            animation-duration: 13680ms;
    -webkit-animation-delay: 3863ms;
            animation-delay: 3863ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(23) {
    left: 49%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 7103ms;
            animation-duration: 7103ms;
    -webkit-animation-delay: 3720ms;
            animation-delay: 3720ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(24) {
    left: 62%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 7704ms;
            animation-duration: 7704ms;
    -webkit-animation-delay: 3351ms;
            animation-delay: 3351ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(25) {
    left: 6%;
    width: 10px;
    height: 10px;
    -webkit-animation-duration: 11824ms;
            animation-duration: 11824ms;
    -webkit-animation-delay: 2534ms;
            animation-delay: 2534ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(26) {
    left: 32%;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 9665ms;
            animation-duration: 9665ms;
    -webkit-animation-delay: 315ms;
            animation-delay: 315ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(27) {
    left: 43%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 5592ms;
            animation-duration: 5592ms;
    -webkit-animation-delay: 3871ms;
            animation-delay: 3871ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(28) {
    left: 55%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 10114ms;
            animation-duration: 10114ms;
    -webkit-animation-delay: 2883ms;
            animation-delay: 2883ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(29) {
    left: 96%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 7280ms;
            animation-duration: 7280ms;
    -webkit-animation-delay: 2418ms;
            animation-delay: 2418ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(30) {
    left: 138%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 5807ms;
            animation-duration: 5807ms;
    -webkit-animation-delay: 1887ms;
            animation-delay: 1887ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(31) {
    left: 56%;
    width: 16px;
    height: 16px;
    -webkit-animation-duration: 7968ms;
            animation-duration: 7968ms;
    -webkit-animation-delay: 1940ms;
            animation-delay: 1940ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(32) {
    left: 35%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 10127ms;
            animation-duration: 10127ms;
    -webkit-animation-delay: 189ms;
            animation-delay: 189ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(33) {
    left: 0%;
    width: 19px;
    height: 19px;
    -webkit-animation-duration: 7474ms;
            animation-duration: 7474ms;
    -webkit-animation-delay: 17ms;
            animation-delay: 17ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(34) {
    left: 50%;
    width: 21px;
    height: 21px;
    -webkit-animation-duration: 6078ms;
            animation-duration: 6078ms;
    -webkit-animation-delay: 4253ms;
            animation-delay: 4253ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(35) {
    left: 50%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 7500ms;
            animation-duration: 7500ms;
    -webkit-animation-delay: 3916ms;
            animation-delay: 3916ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(36) {
    left: 23%;
    width: 19px;
    height: 19px;
    -webkit-animation-duration: 6326ms;
            animation-duration: 6326ms;
    -webkit-animation-delay: 2069ms;
            animation-delay: 2069ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(37) {
    left: 99%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 6092ms;
            animation-duration: 6092ms;
    -webkit-animation-delay: 3652ms;
            animation-delay: 3652ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(38) {
    left: 72%;
    width: 13px;
    height: 13px;
    -webkit-animation-duration: 6770ms;
            animation-duration: 6770ms;
    -webkit-animation-delay: 191ms;
            animation-delay: 191ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(39) {
    left: 128%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 11756ms;
            animation-duration: 11756ms;
    -webkit-animation-delay: 283ms;
            animation-delay: 283ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(40) {
    left: 82%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 11231ms;
            animation-duration: 11231ms;
    -webkit-animation-delay: 2398ms;
            animation-delay: 2398ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(41) {
    left: 8%;
    width: 14px;
    height: 14px;
    -webkit-animation-duration: 6144ms;
            animation-duration: 6144ms;
    -webkit-animation-delay: 468ms;
            animation-delay: 468ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(42) {
    left: 42%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 14064ms;
            animation-duration: 14064ms;
    -webkit-animation-delay: 3336ms;
            animation-delay: 3336ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(43) {
    left: 56%;
    width: 4px;
    height: 4px;
    -webkit-animation-duration: 5161ms;
            animation-duration: 5161ms;
    -webkit-animation-delay: 963ms;
            animation-delay: 963ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(44) {
    left: 64%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 9828ms;
            animation-duration: 9828ms;
    -webkit-animation-delay: 3381ms;
            animation-delay: 3381ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(45) {
    left: 112%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 7657ms;
            animation-duration: 7657ms;
    -webkit-animation-delay: 3206ms;
            animation-delay: 3206ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(46) {
    left: 22%;
    width: 14px;
    height: 14px;
    -webkit-animation-duration: 10450ms;
            animation-duration: 10450ms;
    -webkit-animation-delay: 4968ms;
            animation-delay: 4968ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(47) {
    left: 122%;
    width: 9px;
    height: 9px;
    -webkit-animation-duration: 12436ms;
            animation-duration: 12436ms;
    -webkit-animation-delay: 3871ms;
            animation-delay: 3871ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(48) {
    left: 14%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 5910ms;
            animation-duration: 5910ms;
    -webkit-animation-delay: 749ms;
            animation-delay: 749ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(49) {
    left: 44%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 6261ms;
            animation-duration: 6261ms;
    -webkit-animation-delay: 196ms;
            animation-delay: 196ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(50) {
    left: 68%;
    width: 3px;
    height: 3px;
    -webkit-animation-duration: 6299ms;
            animation-duration: 6299ms;
    -webkit-animation-delay: 2787ms;
            animation-delay: 2787ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(51) {
    left: 45%;
    width: 13px;
    height: 13px;
    -webkit-animation-duration: 10360ms;
            animation-duration: 10360ms;
    -webkit-animation-delay: 2015ms;
            animation-delay: 2015ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(52) {
    left: 2%;
    width: 3px;
    height: 3px;
    -webkit-animation-duration: 6094ms;
            animation-duration: 6094ms;
    -webkit-animation-delay: 4426ms;
            animation-delay: 4426ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(53) {
    left: 47%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 7930ms;
            animation-duration: 7930ms;
    -webkit-animation-delay: 4922ms;
            animation-delay: 4922ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(54) {
    left: 9%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 9943ms;
            animation-duration: 9943ms;
    -webkit-animation-delay: 1820ms;
            animation-delay: 1820ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(55) {
    left: 138%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 10892ms;
            animation-duration: 10892ms;
    -webkit-animation-delay: 2425ms;
            animation-delay: 2425ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(56) {
    left: 101%;
    width: 12px;
    height: 12px;
    -webkit-animation-duration: 13547ms;
            animation-duration: 13547ms;
    -webkit-animation-delay: 1142ms;
            animation-delay: 1142ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(57) {
    left: 59%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 11077ms;
            animation-duration: 11077ms;
    -webkit-animation-delay: 2331ms;
            animation-delay: 2331ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(58) {
    left: 13%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 10384ms;
            animation-duration: 10384ms;
    -webkit-animation-delay: 2575ms;
            animation-delay: 2575ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(59) {
    left: 31%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 7531ms;
            animation-duration: 7531ms;
    -webkit-animation-delay: 4411ms;
            animation-delay: 4411ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(60) {
    left: 32%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 12953ms;
            animation-duration: 12953ms;
    -webkit-animation-delay: 4712ms;
            animation-delay: 4712ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(61) {
    left: 54%;
    width: 7px;
    height: 7px;
    -webkit-animation-duration: 11479ms;
            animation-duration: 11479ms;
    -webkit-animation-delay: 662ms;
            animation-delay: 662ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(62) {
    left: 69%;
    width: 3px;
    height: 3px;
    -webkit-animation-duration: 11230ms;
            animation-duration: 11230ms;
    -webkit-animation-delay: 2954ms;
            animation-delay: 2954ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(63) {
    left: 74%;
    width: 22px;
    height: 22px;
    -webkit-animation-duration: 5250ms;
            animation-duration: 5250ms;
    -webkit-animation-delay: 1578ms;
            animation-delay: 1578ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(64) {
    left: 58%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 14038ms;
            animation-duration: 14038ms;
    -webkit-animation-delay: 3449ms;
            animation-delay: 3449ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(65) {
    left: 81%;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 5842ms;
            animation-duration: 5842ms;
    -webkit-animation-delay: 2991ms;
            animation-delay: 2991ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(66) {
    left: 9%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 5671ms;
            animation-duration: 5671ms;
    -webkit-animation-delay: 4904ms;
            animation-delay: 4904ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(67) {
    left: 44%;
    width: 1px;
    height: 1px;
    -webkit-animation-duration: 7375ms;
            animation-duration: 7375ms;
    -webkit-animation-delay: 4997ms;
            animation-delay: 4997ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(68) {
    left: 1%;
    width: 22px;
    height: 22px;
    -webkit-animation-duration: 6637ms;
            animation-duration: 6637ms;
    -webkit-animation-delay: 1837ms;
            animation-delay: 1837ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(69) {
    left: 89%;
    width: 6px;
    height: 6px;
    -webkit-animation-duration: 9422ms;
            animation-duration: 9422ms;
    -webkit-animation-delay: 4627ms;
            animation-delay: 4627ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(70) {
    left: 64%;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 5371ms;
            animation-duration: 5371ms;
    -webkit-animation-delay: 2899ms;
            animation-delay: 2899ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(71) {
    left: 34%;
    width: 17px;
    height: 17px;
    -webkit-animation-duration: 8541ms;
            animation-duration: 8541ms;
    -webkit-animation-delay: 2218ms;
            animation-delay: 2218ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(72) {
    left: 81%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 5430ms;
            animation-duration: 5430ms;
    -webkit-animation-delay: 3228ms;
            animation-delay: 3228ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(73) {
    left: 115%;
    width: 16px;
    height: 16px;
    -webkit-animation-duration: 8795ms;
            animation-duration: 8795ms;
    -webkit-animation-delay: 2753ms;
            animation-delay: 2753ms;
    filter: blur(4px);
  }
  .g-snows > li:nth-child(74) {
    left: 124%;
    width: 20px;
    height: 20px;
    -webkit-animation-duration: 5139ms;
            animation-duration: 5139ms;
    -webkit-animation-delay: 2284ms;
            animation-delay: 2284ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(75) {
    left: 16%;
    width: 11px;
    height: 11px;
    -webkit-animation-duration: 5178ms;
            animation-duration: 5178ms;
    -webkit-animation-delay: 2580ms;
            animation-delay: 2580ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(76) {
    left: 23%;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 5776ms;
            animation-duration: 5776ms;
    -webkit-animation-delay: 741ms;
            animation-delay: 741ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(77) {
    left: 77%;
    width: 4px;
    height: 4px;
    -webkit-animation-duration: 8170ms;
            animation-duration: 8170ms;
    -webkit-animation-delay: 3925ms;
            animation-delay: 3925ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(78) {
    left: 44%;
    width: 8px;
    height: 8px;
    -webkit-animation-duration: 5258ms;
            animation-duration: 5258ms;
    -webkit-animation-delay: 2669ms;
            animation-delay: 2669ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(79) {
    left: 41%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 13191ms;
            animation-duration: 13191ms;
    -webkit-animation-delay: 1936ms;
            animation-delay: 1936ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(80) {
    left: 53%;
    width: 10px;
    height: 10px;
    -webkit-animation-duration: 9890ms;
            animation-duration: 9890ms;
    -webkit-animation-delay: 1930ms;
            animation-delay: 1930ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(81) {
    left: 26%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 9652ms;
            animation-duration: 9652ms;
    -webkit-animation-delay: 2605ms;
            animation-delay: 2605ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(82) {
    left: 8%;
    width: 12px;
    height: 12px;
    -webkit-animation-duration: 7021ms;
            animation-duration: 7021ms;
    -webkit-animation-delay: 1889ms;
            animation-delay: 1889ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(83) {
    left: 111%;
    width: 13px;
    height: 13px;
    -webkit-animation-duration: 7933ms;
            animation-duration: 7933ms;
    -webkit-animation-delay: 229ms;
            animation-delay: 229ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(84) {
    left: 84%;
    width: 16px;
    height: 16px;
    -webkit-animation-duration: 14162ms;
            animation-duration: 14162ms;
    -webkit-animation-delay: 309ms;
            animation-delay: 309ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(85) {
    left: 81%;
    width: 23px;
    height: 23px;
    -webkit-animation-duration: 9053ms;
            animation-duration: 9053ms;
    -webkit-animation-delay: 1094ms;
            animation-delay: 1094ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(86) {
    left: 24%;
    width: 12px;
    height: 12px;
    -webkit-animation-duration: 10506ms;
            animation-duration: 10506ms;
    -webkit-animation-delay: 1519ms;
            animation-delay: 1519ms;
    filter: blur(4px);
  }
  .g-snows > li:nth-child(87) {
    left: 53%;
    width: 17px;
    height: 17px;
    -webkit-animation-duration: 9563ms;
            animation-duration: 9563ms;
    -webkit-animation-delay: 788ms;
            animation-delay: 788ms;
    filter: blur(3px);
  }
  .g-snows > li:nth-child(88) {
    left: 15%;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 12072ms;
            animation-duration: 12072ms;
    -webkit-animation-delay: 4423ms;
            animation-delay: 4423ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(89) {
    left: 65%;
    width: 19px;
    height: 19px;
    -webkit-animation-duration: 9004ms;
            animation-duration: 9004ms;
    -webkit-animation-delay: 4488ms;
            animation-delay: 4488ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(90) {
    left: 16%;
    width: 0px;
    height: 0px;
    -webkit-animation-duration: 10873ms;
            animation-duration: 10873ms;
    -webkit-animation-delay: 2584ms;
            animation-delay: 2584ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(91) {
    left: 49%;
    width: 18px;
    height: 18px;
    -webkit-animation-duration: 12127ms;
            animation-duration: 12127ms;
    -webkit-animation-delay: 3471ms;
            animation-delay: 3471ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(92) {
    left: 59%;
    width: 9px;
    height: 9px;
    -webkit-animation-duration: 7237ms;
            animation-duration: 7237ms;
    -webkit-animation-delay: 2949ms;
            animation-delay: 2949ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(93) {
    left: 27%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 9679ms;
            animation-duration: 9679ms;
    -webkit-animation-delay: 4851ms;
            animation-delay: 4851ms;
    filter: blur(2px);
  }
  .g-snows > li:nth-child(94) {
    left: 87%;
    width: 2px;
    height: 2px;
    -webkit-animation-duration: 9958ms;
            animation-duration: 9958ms;
    -webkit-animation-delay: 3012ms;
            animation-delay: 3012ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(95) {
    left: 59%;
    width: 10px;
    height: 10px;
    -webkit-animation-duration: 8389ms;
            animation-duration: 8389ms;
    -webkit-animation-delay: 904ms;
            animation-delay: 904ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(96) {
    left: 134%;
    width: 5px;
    height: 5px;
    -webkit-animation-duration: 9615ms;
            animation-duration: 9615ms;
    -webkit-animation-delay: 1330ms;
            animation-delay: 1330ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(97) {
    left: 32%;
    width: 4px;
    height: 4px;
    -webkit-animation-duration: 5302ms;
            animation-duration: 5302ms;
    -webkit-animation-delay: 229ms;
            animation-delay: 229ms;
    filter: blur(1px);
  }
  .g-snows > li:nth-child(98) {
    left: 12%;
    width: 9px;
    height: 9px;
    -webkit-animation-duration: 5093ms;
            animation-duration: 5093ms;
    -webkit-animation-delay: 4524ms;
            animation-delay: 4524ms;
    filter: blur(4px);
  }
  .g-snows > li:nth-child(99) {
    left: 48%;
    width: 4px;
    height: 4px;
    -webkit-animation-duration: 5526ms;
            animation-duration: 5526ms;
    -webkit-animation-delay: 2058ms;
            animation-delay: 2058ms;
    filter: blur(0px);
  }
  .g-snows > li:nth-child(100) {
    left: 52%;
    width: 24px;
    height: 24px;
    -webkit-animation-duration: 11267ms;
            animation-duration: 11267ms;
    -webkit-animation-delay: 78ms;
            animation-delay: 78ms;
    filter: blur(3px);
  }
  
  @-webkit-keyframes snow-drop {
    0% {
      transform: translate(0, 0);
      opacity: 0.5;
      margin-left: 0;
    }
    10% {
      margin-left: 15px;
    }
    20% {
      margin-left: 20px;
    }
    25% {
      transform: translate(0, 166.6666666667px);
      opacity: 0.75;
    }
    30% {
      margin-left: 15px;
    }
    40% {
      margin-left: 0;
    }
    50% {
      transform: translate(0, 333.3333333333px);
      opacity: 1;
      margin-left: -15px;
    }
    60% {
      margin-left: -20px;
    }
    70% {
      margin-left: -15px;
    }
    75% {
      transform: translate(0, 500px);
      opacity: 0.5;
    }
    80% {
      margin-left: 0;
    }
    100% {
      transform: translate(0, 666.6666666667px);
      opacity: 0;
    }
  }
  
  @keyframes snow-drop {
    0% {
      transform: translate(0, 0);
      opacity: 0.5;
      margin-left: 0;
    }
    10% {
      margin-left: 15px;
    }
    20% {
      margin-left: 20px;
    }
    25% {
      transform: translate(0, 166.6666666667px);
      opacity: 0.75;
    }
    30% {
      margin-left: 15px;
    }
    40% {
      margin-left: 0;
    }
    50% {
      transform: translate(0, 333.3333333333px);
      opacity: 1;
      margin-left: -15px;
    }
    60% {
      margin-left: -20px;
    }
    70% {
      margin-left: -15px;
    }
    75% {
      transform: translate(0, 500px);
      opacity: 0.5;
    }
    80% {
      margin-left: 0;
    }
    100% {
      transform: translate(0, 666.6666666667px);
      opacity: 0;
    }
  }